<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="database.sid" value="testdb"/>
    <add key="database.provider" value="msdaora" />
    <add key="database.username" value=""/>
    <add key="database.password" value=""/>
    <add key="export.schema" value="olaf"/>
    <add key="export.root_path" value="Output"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
