<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=MyOracleDB;User Id=myUsername;Password=myPassword;"/>
    
    <add key="RootObject" value="Database"/>
    
    <add key="Database.DataDictionaryTables" value="v$database"/>
    <add key="Database.v$database.Criteria" value="" />
    <add key="Database.ChildObjectTypes" value="Table"/>

    <add key="Table.DataDictionaryTables" value="user_tables,user_tab_comments"/>
    <add key="Table.user_tables.Criteria" value="" />
    <add key="Table.user_tab_comments.Criteria" value="table_type = 'TABLE' and table_name = '{user_tables.table_name}'" />
    <add key="Table.ChildObjectTypes" value="TableColumn,PrimaryKey,ForeignKey,Constraint"/>

    <add key="View.DataDictionaryTables" value="user_views,user_tab_comments"/>
    <add key="View.user_views.Criteria" value="" />
    <add key="View.user_tab_comments.Criteria" value="table_type = 'VIEW' and table_name = '{user_views.view_name}'" />
    <add key="View.ChildObjectTypes" value=""/>

  </appSettings>

  <!--
desc v$database
Name                         Null Typ           
---------------------------- ---- ------------- 
DBID                              NUMBER        
NAME                              VARCHAR2(9)   
CREATED                           DATE          
RESETLOGS_CHANGE#                 NUMBER        
RESETLOGS_TIME                    DATE          
PRIOR_RESETLOGS_CHANGE#           NUMBER        
PRIOR_RESETLOGS_TIME              DATE          
LOG_MODE                          VARCHAR2(12)  
CHECKPOINT_CHANGE#                NUMBER        
ARCHIVE_CHANGE#                   NUMBER        
CONTROLFILE_TYPE                  VARCHAR2(7)   
CONTROLFILE_CREATED               DATE          
CONTROLFILE_SEQUENCE#             NUMBER        
CONTROLFILE_CHANGE#               NUMBER        
CONTROLFILE_TIME                  DATE          
OPEN_RESETLOGS                    VARCHAR2(11)  
VERSION_TIME                      DATE          
OPEN_MODE                         VARCHAR2(20)  
PROTECTION_MODE                   VARCHAR2(20)  
PROTECTION_LEVEL                  VARCHAR2(20)  
REMOTE_ARCHIVE                    VARCHAR2(8)   
ACTIVATION#                       NUMBER        
SWITCHOVER#                       NUMBER        
DATABASE_ROLE                     VARCHAR2(16)  
ARCHIVELOG_CHANGE#                NUMBER        
ARCHIVELOG_COMPRESSION            VARCHAR2(8)   
SWITCHOVER_STATUS                 VARCHAR2(20)  
DATAGUARD_BROKER                  VARCHAR2(8)   
GUARD_STATUS                      VARCHAR2(7)   
SUPPLEMENTAL_LOG_DATA_MIN         VARCHAR2(8)   
SUPPLEMENTAL_LOG_DATA_PK          VARCHAR2(3)   
SUPPLEMENTAL_LOG_DATA_UI          VARCHAR2(3)   
FORCE_LOGGING                     VARCHAR2(39)  
PLATFORM_ID                       NUMBER        
PLATFORM_NAME                     VARCHAR2(101) 
RECOVERY_TARGET_INCARNATION#      NUMBER        
LAST_OPEN_INCARNATION#            NUMBER        
CURRENT_SCN                       NUMBER        
FLASHBACK_ON                      VARCHAR2(18)  
SUPPLEMENTAL_LOG_DATA_FK          VARCHAR2(3)   
SUPPLEMENTAL_LOG_DATA_ALL         VARCHAR2(3)   
DB_UNIQUE_NAME                    VARCHAR2(30)  
STANDBY_BECAME_PRIMARY_SCN        NUMBER        
FS_FAILOVER_STATUS                VARCHAR2(22)  
FS_FAILOVER_CURRENT_TARGET        VARCHAR2(30)  
FS_FAILOVER_THRESHOLD             NUMBER        
FS_FAILOVER_OBSERVER_PRESENT      VARCHAR2(7)   
FS_FAILOVER_OBSERVER_HOST         VARCHAR2(512) 
CONTROLFILE_CONVERTED             VARCHAR2(3)   
PRIMARY_DB_UNIQUE_NAME            VARCHAR2(30)  
SUPPLEMENTAL_LOG_DATA_PL          VARCHAR2(3)   
MIN_REQUIRED_CAPTURE_CHANGE#      NUMBER        
CDB                               VARCHAR2(3)   
CON_ID                            NUMBER        
PENDING_ROLE_CHANGE_TASKS         VARCHAR2(512) 
CON_DBID                          NUMBER        
FORCE_FULL_DB_CACHING             VARCHAR2(3)   


desc user_tables
Name                      Null     Typ           
------------------------- -------- ------------- 
TABLE_NAME                NOT NULL VARCHAR2(128) 
TABLESPACE_NAME                    VARCHAR2(30)  
CLUSTER_NAME                       VARCHAR2(128) 
IOT_NAME                           VARCHAR2(128) 
STATUS                             VARCHAR2(8)   
PCT_FREE                           NUMBER        
PCT_USED                           NUMBER        
INI_TRANS                          NUMBER        
MAX_TRANS                          NUMBER        
INITIAL_EXTENT                     NUMBER        
NEXT_EXTENT                        NUMBER        
MIN_EXTENTS                        NUMBER        
MAX_EXTENTS                        NUMBER        
PCT_INCREASE                       NUMBER        
FREELISTS                          NUMBER        
FREELIST_GROUPS                    NUMBER        
LOGGING                            VARCHAR2(3)   
BACKED_UP                          VARCHAR2(1)   
NUM_ROWS                           NUMBER        
BLOCKS                             NUMBER        
EMPTY_BLOCKS                       NUMBER        
AVG_SPACE                          NUMBER        
CHAIN_CNT                          NUMBER        
AVG_ROW_LEN                        NUMBER        
AVG_SPACE_FREELIST_BLOCKS          NUMBER        
NUM_FREELIST_BLOCKS                NUMBER        
DEGREE                             VARCHAR2(10)  
INSTANCES                          VARCHAR2(10)  
CACHE                              VARCHAR2(5)   
TABLE_LOCK                         VARCHAR2(8)   
SAMPLE_SIZE                        NUMBER        
LAST_ANALYZED                      DATE          
PARTITIONED                        VARCHAR2(3)   
IOT_TYPE                           VARCHAR2(12)  
TEMPORARY                          VARCHAR2(1)   
SECONDARY                          VARCHAR2(1)   
NESTED                             VARCHAR2(3)   
BUFFER_POOL                        VARCHAR2(7)   
FLASH_CACHE                        VARCHAR2(7)   
CELL_FLASH_CACHE                   VARCHAR2(7)   
ROW_MOVEMENT                       VARCHAR2(8)   
GLOBAL_STATS                       VARCHAR2(3)   
USER_STATS                         VARCHAR2(3)   
DURATION                           VARCHAR2(15)  
SKIP_CORRUPT                       VARCHAR2(8)   
MONITORING                         VARCHAR2(3)   
CLUSTER_OWNER                      VARCHAR2(128) 
DEPENDENCIES                       VARCHAR2(8)   
COMPRESSION                        VARCHAR2(8)   
COMPRESS_FOR                       VARCHAR2(30)  
DROPPED                            VARCHAR2(3)   
READ_ONLY                          VARCHAR2(3)   
SEGMENT_CREATED                    VARCHAR2(3)   
RESULT_CACHE                       VARCHAR2(7)   
CLUSTERING                         VARCHAR2(3)   
ACTIVITY_TRACKING                  VARCHAR2(23)  
DML_TIMESTAMP                      VARCHAR2(25)  
HAS_IDENTITY                       VARCHAR2(3)   
CONTAINER_DATA                     VARCHAR2(3)   
INMEMORY                           VARCHAR2(8)   
INMEMORY_PRIORITY                  VARCHAR2(8)   
INMEMORY_DISTRIBUTE                VARCHAR2(15)  
INMEMORY_COMPRESSION               VARCHAR2(17)  
INMEMORY_DUPLICATE                 VARCHAR2(13)  


desc user_tab_comments
Name          Null     Typ            
------------- -------- -------------- 
TABLE_NAME    NOT NULL VARCHAR2(128)  
TABLE_TYPE             VARCHAR2(11)   
COMMENTS               VARCHAR2(4000) 
ORIGIN_CON_ID          NUMBER         



-->
</configuration>

