<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=testdb;User Id=scott;Password=tiger;"/>
    
    <add key="RootObject" value="Database"/>
    
    <add key="Database.DataDictionaryTables" value="global_name"/>
    <add key="Database.global_name.SQL" value="select * from global_name" />
    <add key="Database.ChildObjectTypes" value="DbVersionInfo,NlsDbParameters,Schema"/>
    <add key="Database.Name" value="{global_name.global_name}"/>

    <add key="DbVersionInfo.DataDictionaryTables" value="v$version"/>
    <add key="DbVersionInfo.v$version.SQL" value="select * from v$version" />
    <add key="DbVersionInfo.ChildObjectTypes" value=""/>
    <add key="DbVersionInfo.Name" value="{v$version.banner}"/>

    <add key="NlsDbParameters.DataDictionaryTables" value="nls_database_parameters"/>
    <add key="NlsDbParameters.nls_database_parameters.SQL" value="select * from nls_database_parameters order by parameter" />
    <add key="NlsDbParameters.ChildObjectTypes" value=""/>
    <add key="NlsDbParameters.Name" value="{nls_database_parameters.parameter}"/>

    <add key="Schema.DataDictionaryTables" value="user_users"/>
    <add key="Schema.user_users.SQL" value="select * from user_users" />
    <add key="Schema.ChildObjectTypes" value="Table,View"/>
    <add key="Schema.Name" value="{user_users.username}"/>

    <add key="Table.DataDictionaryTables" value="user_tables,user_tab_comments"/>
    <add key="Table.user_tables.SQL" value="select * from user_tables order by table_name" />
    <add key="Table.user_tab_comments.SQL" value="select * from user_tab_comments where table_type = 'TABLE' and table_name = '{user_tables.table_name}'" />
    <add key="Table.ChildObjectTypes" value="TableColumn,PrimaryKey,ForeignKey,Constraint,Index,TablePrivilege,Trigger"/>
    <add key="Table.Name" value="{user_tables.table_name}"/>

    <add key="TableColumn.DataDictionaryTables" value="user_tab_columns,user_col_comments"/>
    <add key="TableColumn.user_tab_columns.SQL" value="select * from user_tab_columns where table_name = '{user_tables.table_name}' order by column_id" />
    <add key="TableColumn.user_col_comments.SQL" value="select * from user_col_comments where table_name = '{user_tab_columns.table_name}' and column_name = '{user_tab_columns.column_name}'" />
    <add key="TableColumn.ChildObjectTypes" value=""/>
    <add key="TableColumn.Name" value="{user_tab_columns.column_name}"/>

    <add key="PrimaryKey.DataDictionaryTables" value="user_constraints"/>
    <add key="PrimaryKey.user_constraints.SQL" value="select * from user_constraints where constraint_type = 'P' and table_name = '{user_tables.table_name}'" />
    <add key="PrimaryKey.ChildObjectTypes" value="PrimaryConstraintColumn"/>
    <add key="PrimaryKey.Name" value="{user_constraints.constraint_name}"/>

    <add key="PrimaryConstraintColumn.DataDictionaryTables" value="user_cons_columns"/>
    <add key="PrimaryConstraintColumn.user_cons_columns.SQL" value="select * from user_cons_columns where constraint_name = '{user_constraints.constraint_name}' order by position" />
    <add key="PrimaryConstraintColumn.ChildObjectTypes" value=""/>
    <add key="PrimaryConstraintColumn.Name" value="{user_cons_columns.column_name}"/>

    <add key="ForeignKey.DataDictionaryTables" value="user_constraints"/>
    <add key="ForeignKey.user_constraints.SQL" value="select * from user_constraints where constraint_type = 'R' and table_name = '{user_tables.table_name}'" />
    <add key="ForeignKey.ChildObjectTypes" value="ForeignKeyColumn,RefConstraint"/>
    <add key="ForeignKey.Name" value="{user_constraints.constraint_name}"/>

    <add key="ForeignKeyColumn.DataDictionaryTables" value="user_cons_columns"/>
    <add key="ForeignKeyColumn.user_cons_columns.SQL" value="select * from user_cons_columns where constraint_name = '{user_constraints.constraint_name}' order by position" />
    <add key="ForeignKeyColumn.ChildObjectTypes" value=""/>
    <add key="ForeignKeyColumn.Name" value="{user_cons_columns.column_name}"/>

    <add key="RefConstraint.DataDictionaryTables" value="user_constraints"/>
    <add key="RefConstraint.user_constraints.SQL" value="select * from user_constraints where owner = '{user_constraints.r_owner}' and constraint_name = '{user_constraints.r_constraint_name}'" />
    <add key="RefConstraint.ChildObjectTypes" value="RefConstraintColumn"/>
    <add key="RefConstraint.Name" value="{user_constraints.constraint_name}"/>

    <add key="RefConstraintColumn.DataDictionaryTables" value="user_cons_columns"/>
    <add key="RefConstraintColumn.user_cons_columns.SQL" value="select * from user_cons_columns where constraint_name = '{user_constraints.constraint_name}' order by position" />
    <add key="RefConstraintColumn.ChildObjectTypes" value=""/>
    <add key="RefConstraintColumn.Name" value="{user_cons_columns.column_name}"/>

    <add key="Constraint.DataDictionaryTables" value="user_constraints"/>
    <add key="Constraint.user_constraints.SQL" value="select * from user_constraints where constraint_type not in ('R','P') and table_name = '{user_tables.table_name}' and generated = 'USER NAME' order by constraint_type, constraint_name" />
    <add key="Constraint.ChildObjectTypes" value="RefConstraintColumn"/>
    <add key="Constraint.Name" value="{user_constraints.constraint_name}"/>

    <add key="Index.DataDictionaryTables" value="user_indexes"/>
    <add key="Index.user_indexes.SQL" value="select * from user_indexes where table_name = '{user_tables.table_name}' order by index_name" />
    <add key="Index.ChildObjectTypes" value="IndexColumn"/>
    <add key="Index.Name" value="{user_indexes.index_name}"/>

    <add key="IndexColumn.DataDictionaryTables" value="user_ind_columns"/>
    <add key="IndexColumn.user_ind_columns.SQL" value="select * from user_ind_columns where index_name = '{user_indexes.index_name}' order by column_position" />
    <add key="IndexColumn.ChildObjectTypes" value=""/>
    <add key="IndexColumn.Name" value="{user_ind_columns.column_name}"/>

    <add key="TablePrivilege.DataDictionaryTables" value="user_tab_privs"/>
    <add key="TablePrivilege.user_tab_privs.SQL" value="select * from user_tab_privs where owner = '{user_users.username}' and table_name = '{user_tables.table_name}' order by grantee,privilege" />
    <add key="TablePrivilege.ChildObjectTypes" value=""/>
    <add key="TablePrivilege.Name" value="{user_tab_privs.privilege}"/>

    <add key="Trigger.DataDictionaryTables" value="user_triggers"/>
    <add key="Trigger.user_triggers.SQL" value="select * from user_triggers where table_owner = '{user_users.username}' and table_name = '{user_tables.table_name}' order by trigger_name" />
    <add key="Trigger.ChildObjectTypes" value=""/>
    <add key="Trigger.Name" value="{user_triggers.trigger_name}"/>

    <add key="View.DataDictionaryTables" value="user_views,user_tab_comments"/>
    <add key="View.user_views.SQL" value="select * from user_views order by view_name" />
    <add key="View.user_tab_comments.SQL" value="select * from user_tab_comments where table_type = 'VIEW' and table_name = '{user_views.view_name}'" />
    <add key="View.ChildObjectTypes" value="ViewColumn,ViewPrivilege,ViewTrigger"/>
    <add key="View.Name" value="{user_views.view_name}"/>

    <add key="ViewColumn.DataDictionaryTables" value="user_tab_columns,user_col_comments"/>
    <add key="ViewColumn.user_tab_columns.SQL" value="select * from user_tab_columns where table_name = '{user_views.view_name}' order by column_id" />
    <add key="ViewColumn.user_col_comments.SQL" value="select * from user_col_comments where table_name = '{user_tab_columns.table_name}' and column_name = '{user_tab_columns.column_name}'" />
    <add key="ViewColumn.ChildObjectTypes" value=""/>
    <add key="ViewColumn.Name" value="{user_tab_columns.column_name}"/>

    <add key="ViewPrivilege.DataDictionaryTables" value="user_tab_privs"/>
    <add key="ViewPrivilege.user_tab_privs.SQL" value="select * from user_tab_privs where owner = '{user_users.username}' and table_name = '{user_views.view_name}' order by grantee,privilege" />
    <add key="ViewPrivilege.ChildObjectTypes" value=""/>
    <add key="ViewPrivilege.Name" value="{user_tab_privs.privilege}"/>

    <add key="ViewTrigger.DataDictionaryTables" value="user_triggers"/>
    <add key="ViewTrigger.user_triggers.SQL" value="select * from user_triggers where table_owner = '{user_users.username}' and table_name = '{user_views.view_name}' order by trigger_name" />
    <add key="ViewTrigger.ChildObjectTypes" value=""/>
    <add key="ViewTrigger.Name" value="{user_triggers.trigger_name}"/>

  </appSettings>
</configuration>

