<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=testdb;User Id=scott;Password=tiger;"/>
    
    <add key="RootObject" value="Database"/>
    
    <add key="Database.DataDictionaryTables" value="v$version"/>
    <add key="Database.v$version.SQL" value="select * from v$version" />
    <add key="Database.ChildObjectTypes" value="Schema"/>
    
    <add key="Schema.DataDictionaryTables" value="user_users"/>
    <add key="Schema.user_users.SQL" value="select * from user_users" />
    <add key="Schema.ChildObjectTypes" value="Table"/>

    <add key="Table.DataDictionaryTables" value="user_tables,user_tab_comments"/>
    <add key="Table.user_tables.SQL" value="select * from user_tables order by table_name" />
    <add key="Table.user_tab_comments.SQL" value="select * from user_tab_comments where table_type = 'TABLE' and table_name = '{user_tables.table_name}'" />
    <add key="Table.ChildObjectTypes" value="TableColumn,PrimaryKey,ForeignKey,Constraint,Index"/>

    <add key="TableColumn.DataDictionaryTables" value="user_tab_columns,user_col_comments"/>
    <add key="TableColumn.user_tab_columns.SQL" value="select * from user_tab_columns where table_name = '{user_tables.table_name}' order by column_id" />
    <add key="TableColumn.user_col_comments.SQL" value="select * from user_col_comments where table_name = '{user_tab_columns.table_name}' and column_name = '{user_tab_columns.column_name}'" />
    <add key="TableColumn.ChildObjectTypes" value=""/>

    <add key="PrimaryKey.DataDictionaryTables" value="user_constraints"/>
    <add key="PrimaryKey.user_constraints.SQL" value="select * from user_constraints where constraint_type = 'P' and table_name = '{user_tables.table_name}'" />
    <add key="PrimaryKey.ChildObjectTypes" value="PrimaryConstraintColumn"/>

    <add key="PrimaryConstraintColumn.DataDictionaryTables" value="user_cons_columns"/>
    <add key="PrimaryConstraintColumn.user_cons_columns.SQL" value="select * from user_cons_columns where constraint_name = '{user_constraints.constraint_name}' order by position" />
    <add key="PrimaryConstraintColumn.ChildObjectTypes" value=""/>
  
    <add key="ForeignKey.DataDictionaryTables" value="user_constraints"/>
    <add key="ForeignKey.user_constraints.SQL" value="select * from user_constraints where constraint_type = 'R' and table_name = '{user_tables.table_name}'" />
    <add key="ForeignKey.ChildObjectTypes" value="ForeignKeyColumn,RefConstraint"/>

    <add key="ForeignKeyColumn.DataDictionaryTables" value="user_cons_columns"/>
    <add key="ForeignKeyColumn.user_cons_columns.SQL" value="select * from user_cons_columns where constraint_name = '{user_constraints.constraint_name}' order by position" />
    <add key="ForeignKeyColumn.ChildObjectTypes" value=""/>

    <add key="RefConstraint.DataDictionaryTables" value="user_constraints"/>
    <add key="RefConstraint.user_constraints.SQL" value="select * from user_constraints where owner = '{user_constraints.r_owner}' and constraint_name = '{user_constraints.r_constraint_name}'" />
    <add key="RefConstraint.ChildObjectTypes" value="RefConstraintColumn"/>

    <add key="RefConstraintColumn.DataDictionaryTables" value="user_cons_columns"/>
    <add key="RefConstraintColumn.user_cons_columns.SQL" value="select * from user_cons_columns where constraint_name = '{user_constraints.constraint_name}' order by position" />
    <add key="RefConstraintColumn.ChildObjectTypes" value=""/>

    <add key="Constraint.DataDictionaryTables" value="user_constraints"/>
    <add key="Constraint.user_constraints.SQL" value="select * from user_constraints where constraint_type not in ('R','P') and table_name = '{user_tables.table_name}' and generated = 'USER NAME' order by constraint_type, constraint_name" />
    <add key="Constraint.ChildObjectTypes" value="RefConstraintColumn"/>
 
    <add key="Index.DataDictionaryTables" value="user_indexes"/>
    <add key="Index.user_indexes.SQL" value="select * from user_indexes where table_name = '{user_tables.table_name}' order by index_name" />
    <add key="Index.ChildObjectTypes" value="IndexColumn"/>
  
    <add key="IndexColumn.DataDictionaryTables" value="user_ind_columns"/>
    <add key="IndexColumn.user_ind_columns.SQL" value="select * from user_ind_columns where index_name = '{user_indexes.index_name}' order by column_position" />
    <add key="IndexColumn.ChildObjectTypes" value=""/>

</appSettings>
</configuration>

